<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="style_b.css">
    <title>Це сторінка книги</title>
</head>
<body>
    <header>
        <a href="file:///D:/Python%20r/Proect%202/H_Work/home_work/main/templates/main.html"> Інформацфйна сторінка про книгу Мауглі</a>
        <p><br /> </p>
        <a href="file:///D:/Python%20r/Proect%202/H_Work/home_work/author/templates/author.html">Cторінка автора Мауглі</a>
        <h2 class = titles> Мауглі (стислий переказ) </h2>
        <!-- <a href="auther.html">Сторінка автора книги Мауглі</a> -->

    </header>
    <main>
        <p>Батько Вовк прокинувся після денного спочинку і збирався полювати. Мати Вовчиця лежала поруч із чотирма вовченятами, що перекидалися коло неї і скавчали. Біля входу в печеру з'явився шакал Табакі й повідомив, що тигр Шер-Хан збирається полювати у цих місцях.

            Здалеку почулося гарчання тигра. </p>
            
        <!-- sharhan -->
        <img src = "D:\Python r\Proect 2\H_Work\home_work\img\шархан.jpg" style="width:350px"> 
        <p><br /> </p>

        <p>Мати Вовчиця зауважила, що цієї ночі він полює на Людину!.. Хоча Закон Джунглів забороняє полювати на Людину, за винятком тих випадків, коли звір учить своїх дітей забивати.
            
            Раптом Мати Вовчиця почула, що хтось іде. За кілька хвилин перед ними вже стояла маленька смаглява дитина. Дитина глянула в очі Батькові Вовкові і засміялася.
            
            Аж ось біля входу з'явився Шер-Хан і став вимагати, щоб йому віддали його здобич. Батько Вовк відповів, що вони приймають накази тільки від Ватажка Зграї.
            
            Треба було показати людське дитинча зграї. Та Мати Вовчиця заперечила, що воно прийшло само серед ночі, зовсім голе і дуже голодне, але не боялося! Тому вона залишить його у себе. Але все-таки треба було спитати, що скаже Зграя. Батько Вовк дочекався, коли його діти навчились бігати,</p>

        <!-- volk -->

        <img src = "D:\Python r\Proect 2\H_Work\home_work\img\волки.jpg" style="width:350px"> 
        <p><br /> </p>

            і повів їх на Скелю Ради. Акела, великий сірий Самотній Вовк, що керував Зграєю завдяки своїй великій силі та розуму, лежав на Скелі Ватажка.
            
            Настав час показати хлопчика. Батько Вовк виштовхнув Мауглі-Жабеня — так вони його звали — на середину кола.
            
        <p>Закон Джунглів передбачає, що за щеня повинні заступитись принаймні два члени Зграї, окрім батька та матері. Тоді Балу, сонливий бурий ведмідь, який навчав вовченят Закону Джунглів, звівся на задні лапи й сказав, що він заступиться за людське дитинча. Але потрібен був ще один голос. Аж ось чорна тінь упала посеред кола. То була чорна пантера Багіра. Ніхто не наважувався ставати їй на дорозі, бо вона була хитра, як Табакі, смілива, як дикий буйвіл, і нестримна, як поранений слон. Але голос у неї був солодший за дикий мед, і шерсть — м'якіша за пух. Пантера мовила, що дитинча може стати у пригоді, коли підросте. Потім сказала, що до цих слів докладає жирного бика.</p>
        <p>Мауглі ріс і виховувався разом з вовченятами, батько Вовк, Балу і Багіра вчили його Законам Джунглів.</p>

        <!-- banda -->
  
        <img src = "D:\Python r\Proect 2\H_Work\home_work\img\банда.jpg" style="width:350px"> 
        <p><br /> </p>

        <p>Він робився все дужчим і ні про що не турбувався. Мати Вовчиця раз чи два казала йому, що Шер-Ханові не можна довіряти, а Багіра, кілька разів різними словами попереджала Мауглі, що коли-небудь Шер-Хан уб'є його. На це хлопчик лише сміявся. Багіра порадила йому дістати Червону квітку (вогонь), адже усі в лісі його бояться.</p>
        
        <!-- ogon -->
        <img src = "D:\Python r\Proect 2\H_Work\home_work\img\огонь.jpg" style="width:350px"> 
        <p><br /> </p>


        <p>І ось Мауглі вирушив до помешкання людей. Там він припав обличчям до вікна і почав стежити, як горить вогонь у печі. Він бачив, як господиня вставала вночі і підживляла вогонь чорною деревиною. Вранці він побіг за хатинку, схопив горщик з вугіллям і зник у тумані. Дмухаючи в горщик, Мауглі думав про те, що ці люди дуже схожі на нього. Весь цей день Мауглі сидів у печері, підтримуючи вогонь.
            
            Акела промахнувся на полюванні і тепер лежав коло своєї скелі, що свідчило про те, що місце Вожака Зграї лишається вільним. Шер-Хан, оточений вовками, охочими поживитись його недоїдками, походжав тут же і вислуховував безсоромні лестощі.
            
            Раптом Мауглі скочив на ноги.
            
            "Вільне Плем'я! — вигукнув він. — Хіба Шер-Хан керує нашою Зграєю? Яке діло тигру до наших справ?"
            
            Почулося багатоголосе виття: вовки вимагали, щоб Мауглі замовчав.
            
            Тоді Акела підвівся і сказав, що Мауглі має право говорити. "Він їв нашу їжу, — сказав старий вовк. — Він спав разом з нами. Він заганяв для нас дичину. Він ніколи не порушив жодного слова із закону Джунглів".
            
            Багіра нагадала, що вона заплатила за Мауглі биком. Потім, звернувшись до хлопця, сказала, що прийшов його час.
            
            Мауглі підвівся, тримаючи горщик з вогнем у руках. Потім він потягнувся і позіхнув просто в обличчя всій раді. Він був у нестямі під злості та горя, бо вовки ще ніколи не показували йому, як вони його ненавидять.
            
            "Гей ви, слухайте! — закричав він. — Досить вже цієї собачої гавкотні! Сьогодні ви так часто називали мене Людиною (хоч з вами я залишився б вовком до кінця днів своїх), що я відчуваю справедливість ваших слів. Тому я вже не називаю вас своїми братами, а гагами — собаками, як личить Людині. Про те, що ви зробите і чого не зробите, не вам говорити! Це вже вирішуватиму я. А щоб ви краще зрозуміли, в чому справа, я, Людина, приніс сюди трохи Червоної Квітки, якої ви, собаки, боїтесь!"
            
            Він кинув горщик з вогнем на землю, кілька розжарених вуглинок запалили купину сухого моху, який відразу зайнявся полум'ям, і вся Рада з жахом відскочила назад від танцюючих вогняних язиків.
            
            "Я бачу, що ви — собаки! — продовжував Мауглі. — Я піду од нас до свого племені... Джунглі закриті для мене, і я мушу забувати нашу мову і ваше товариство; але я буду милосерднішим за вас. Я був шипим братом у всьому, за винятком крові, і я обіцяю, що коли стану Людиною серед людей, то не зраджу вас перед ними, як ви зрадили мене! — Він ударив ногою по гілці, і від неї в усі боки полетіли іскри. — Ніякої бійки між нами, членами Зграї, не буде. Але я мушу віддати свій борг перед тим, як піти звідси".
            
            Мауглі наблизився до Шер-Хана, схопив його за підборіддя і вигукнув: "Встань, коли говорить Людина, інакше я спалю тобі шкуру!"</p>
            <!-- Image vilk -->
            <img src = "D:\Python r\Proect 2\H_Work\home_work\img\огон.jpg" style="width:350px">
            <p><br /> </p>

            <p>Шер-Хан щільно прищулив вуха і заплющив очі, бо палаюча гілка була вже дуже близько.

            Мауглі бив Шер-Хана гілкою по голові, а тигр, пройнятий смертельним жахом, жалібно вищав і скиглив.
            
            "Обсмалена кішко Джунглів, — крикнув хлопець, — йди тепер! Але пам'ятай, що коли я знову прийду на Скелю Ради — як приходить Людина, — то шкура Шер-Хана буде у мене на голові! І останнє: Акела може жити вільно, як хоче. Ви не посмієте вбити його, бо на те моя воля! І здається мені, що вам тут нічого більше сидіти, висолопивши язики, немовби ви справді щось інше, а не собаки, яких я проганяю — ось так! Геть!"
            
            Раптом Мауглі відчув, що в грудях у нього почало щеміти, як досі ніколи не щеміло; дихання йому перехопило, він почав схлипувати і по його обличчю побігли сльози. Він перелякано спитав у Багіри, що з ним відбувається. Мудра пантера відповіла, що це лише сльози, які бувають у людей.
            
            Так, Мауглі повинен був повертатися до людей. Але спочатку він пішов попрощатися з матір'ю. Мати Вовчиця сказала, що вони ніколи не забудуть своє дитинча і попросила приходити до них.
            
            Починало світати, коли Мауглі самотньо сходив з гори назустріч невідомим створінням, які звуться людьми...
            
            </p>
        <p></p>

    </main>
    <footer>

    </footer>
</body>
</html>

