<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="style_a.css">
    <title>Це сторінка автора</title>
</head>
<body>
    <header>
        <h1>Редьярд Кіплінг</h1>
        <p>Англійський поет і прозаїк. Світову популярність здобув завдяки поезії про британських солдатів, що перебувають на службі в колоніях, та пригодницьким оповіданням, що стали класикою дитячої та підліткової літератури. Його вважали «співцем британського імперіалізму», проте він не відкидав культурну цінність поневолених народів. У своїх творах оспівував колоніалізм як місію білої раси, обов'язком якої вважав пропагування засад європейської цивілізації. Юність провів переважно в Індії, що стала екзотичним тлом для його найвідоміших творів: роману «Кім» та фантастичних оповідань «Книга джунглів». У численних статтях та виступах письменник коментував найважливіші політичні події у світі. Його найвідоміші твори отримали змішані оцінки літературних критиків. 1907 року став лауреатом Нобелівської премії з літератури «за спостережливість, яскраву фантазію, зрілість ідей і видатний талант оповідача».</p>
        <img src = "D:\Python r\Proect 2\H_Work\home_work\img\Редьярд2.jpg" style="width:300px"> 
        <p><br /> </p>
        <a href="file:///D:/Python%20r/Proect%202/H_Work/home_work/book/templates/book.html">Мауглі (стислий переказ)</a>

    </header>
    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>