<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="style_m.css">
    <title>Інформаційна сторінка про книгу</title>
</head>
<!-- D:\Python r\Proect 2\H_Work\home_work\img\ -->
<body>
    <header>
        <h3 class = titles> Мауглі </h3>
        

    </header>
    <main>
        <p >Це захоплююча історія про життя людського дитинчати в джунглях. Мауглі виріс серед вовків і довгий час вважав себе членом вовчої зграї. У джунглях Мауглі чекали страшні і захоплюючі пригоди, але ще більш небезпечними виявилися люди. Але все-таки Мауглі  переміг тигра Шер-хана, врятував джунглі від рудих собак-долів. Але коли Мауглі подорослішав, він все-таки повернувся до людей.
            Це дуже цікава історія, яку із захопленням читаєш від початку до кінця.</p>
            
        <img src = "D:\Python r\Proect 2\H_Work\home_work\img\книга.jpg" style="width:300px" > 
            <!-- file:///D:/Python%20r/Proect%202/H_Work/home_work/author/templates/author.html -->
        <p><br /> </p>
        <a href="file:///D:/Python%20r/Proect%202/H_Work/home_work/book/templates/book.html">Мауглі (стислий переказ)</a>
        <p><br /> </p>
        <a href="file:///D:/Python%20r/Proect%202/H_Work/home_work/author/templates/author.html">Cторінка автора Мауглі</a>
        

    </main>
    <footer>

    </footer>
</body>
</html>

